n8n/Vortex_workflow.json
{
  "name": "Vortex_workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bd130e93-ab8c-4eb7-b506-3b27ea0c843c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1NT0ZIpWUH3edFDQSGWplEY2W2eWjEYlRvHzlKIzrFMA",
          "mode": "list",
          "cachedResultName": "Agent_Hourly_Output_Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NT0ZIpWUH3edFDQSGWplEY2W2eWjEYlRvHzlKIzrFMA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1089372278,
          "mode": "list",
          "cachedResultName": "Plantilla de Reporte Operativo Limpia",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NT0ZIpWUH3edFDQSGWplEY2W2eWjEYlRvHzlKIzrFMA/edit#gid=1089372278"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e03c2035-ad76-4e61-8198-b45171135a23",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "vnaApMHAhSjzz2tq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const hours = [\"8 AM\", \"9 AM\", \"10 AM\", \"11 AM\", \"12 PM\", \"1 PM\", \"2 PM\", \"3 PM\", \"4 PM\", \"5 PM\", \"6 PM\"];\nlet teamTotal = 0;\nlet lastHour = \"\";\nlet agentsProcessed = [];\n\nconst inputItems = $input.all();\n\n// Calculate totals and real-time average\ninputItems.forEach(item => {\n  let row = item.json;\n  let agentSum = 0;\n  let agentName = row[\"Agent\"] || row[\"Agente\"] || row[\"agente\"] || \"Unknown\";\n\n  hours.forEach(h => {\n    let val = parseInt(row[h]);\n    if (!isNaN(val)) {\n      agentSum += val;\n      lastHour = h;\n    }\n  });\n\n  if (agentSum > 0) {\n    teamTotal += agentSum;\n    agentsProcessed.push({ name: agentName, tickets: agentSum });\n  }\n});\n\nconst teamAverage = agentsProcessed.length > 0 ? teamTotal / agentsProcessed.length : 0;\n\n\n// --- SYNCHRONIZED SLA LOGIC (Power BI Equivalent) ---\nconst hourMapping = {\n  \"8 AM\": 1, \"9 AM\": 2, \"10 AM\": 3, \"11 AM\": 4, \n  \"12 PM\": 5, \"1 PM\": 6, \"2 PM\": 7, \"3 PM\": 8, \n  \"4 PM\": 9, \"5 PM\": 10, \"6 PM\": 11\n};\n\nconst hoursSinceStart = hourMapping[lastHour] || 1;\nconst expectedGoal = hoursSinceStart * 5.6;\nconst slaResult = (teamAverage / expectedGoal).toFixed(2);\n\n// Shift logic\nlet outgoingShift = \"\";\nif (lastHour === \"1 PM\") outgoingShift = \"6 AM - 2 PM\";\nelse if (lastHour === \"2 PM\") outgoingShift = \"7 AM - 3 PM\";\nelse if (lastHour === \"3 PM\") outgoingShift = \"8 AM - 4 PM\";\nelse if (lastHour === \"5 PM\") outgoingShift = \"10 AM - 6 PM\";\n\nconst isCriticalHour = (outgoingShift !== \"\");\n\n// 2. Step Two: Build the dynamic status table (Monospace)\nlet tableText = \"```\\n\"; \ntableText += \"AGENT           | TKS | STATUS\\n\";\ntableText += \"------------------------------\\n\";\n\nagentsProcessed.forEach(ag => {\n  let statusEmoji = \"🔴\"; // Below 80% of average\n  \n  if (ag.tickets >= teamAverage) {\n    statusEmoji = \"🟢\"; // Above average\n  } \n  else if (ag.tickets >= (teamAverage * 0.8)) {\n    statusEmoji = \"🟡\"; // Close to average (80%+)\n  }\n\n  const fixedName = ag.name.substring(0, 15).padEnd(15, ' ');\n  const fixedTickets = ag.tickets.toString().padStart(3, ' ');\n  tableText += `${fixedName} | ${fixedTickets} | ${statusEmoji}\\n`;\n});\n\ntableText += \"------------------------------\\n\";\ntableText += `TOTAL TEAM      | ${teamTotal.toString().padStart(3, ' ')} | 🚀\\n`;\ntableText += \"```\";\n\n// 3. Improved n8n Output Mapping\nconst output = inputItems.map((item, index) => {\n  // We create the summary only for the first item to avoid redundancy\n  const summary = index === 0 ? {\n    table_content: tableText,\n    grand_total: teamTotal,\n    average_productivity: teamAverage.toFixed(1),\n    cutoff_time: lastHour,\n    sla_score: slaResult, // The dynamic value matching Power BI\n    shift_name: outgoingShift,\n    is_critical: isCriticalHour\n  } : null;\n\n  return {\n    json: {\n      // Tickets per agent for the Excel PUT\n      total_val: (index < agentsProcessed.length) ? agentsProcessed[index].tickets : null,\n      \n      // Data for Gemini and Slack nodes\n      slack_message: summary, \n      data_for_ai: summary \n    }\n  };\n});\n\n// Extra item for Grand Total row in Excel\noutput.push({ \n  json: { \n    total_val: teamTotal, \n    is_grand_total: true \n  } \n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "75f79bac-5097-4005-8a3d-c35f7644d6d4",
      "name": "JS: Process Operational Metrics",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1NT0ZIpWUH3edFDQSGWplEY2W2eWjEYlRvHzlKIzrFMA/values/M2:M43?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"values\": $input.all().map(i => [i.json.total_val])\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        0
      ],
      "id": "126fb954-e5e4-4650-88d6-71444d695729",
      "name": "API: Update Master Spreadsheet",
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "vnaApMHAhSjzz2tq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c265b02d-5a79-4cbd-b7e9-b3e68630f262",
              "leftValue": "={{ $json.data_for_ai }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        -352
      ],
      "id": "8434c76e-1ddc-4261-877c-2be5a1d35b79",
      "name": "Check: Critical Hour Validation"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=<system_purpose>\nYou are the \"Operational Strategy Agent\" for VORTEX Your mission is to audit the performance of the bilingual support team and generate high-precision interventions (alerts) that balance operational urgency with professional excellence and customer satisfaction.\n</system_purpose>\n\n<context_data>\n- Current_SLA: {{ $json.data_for_ai.sla_score }} (Target: 1.0)\n- Outgoing_Shift: {{ $json.data_for_ai.shift_name }}\n- Cutoff_Time: {{ $json.data_for_ai.cutoff_time }}\n- Critical_Status: {{ $json.data_for_ai.is_critical }}\n</context_data>\n\n<few_shot_examples>\n  <example>\n    <input>SLA: 0.85 | Critical: True | Shift: 6 AM - 2 PM</input>\n    <thought>The SLA is 15% below the target. It’s closing time. I need to inject energy and focus into the final push.</thought>\n\n    <output>6 AM - 2 PM Team! ⚡ We’re just one step away from the goal (SLA 0.85). Let’s give it our all in this final hour to reach 1.0. Your last effort makes the difference! 🔥</output>\n  </example>\n\n  <example>\n    <input>SLA: 1.05 | Critical: True | Shift: 10 AM - 6 PM</input>\n\n    <thought>Target exceeded. It’s time to positively reinforce the behavior to maintain momentum.</thought>\n\n    <output>Excellent finish, 10 AM - 6 PM Team! 🚀 We exceeded the target with an SLA of 1.05. Thank you for maintaining quality and pace until the end. Time to rest with the job well done! ✨</output>\n\n  </example>\n</few_shot_examples>\n\n<task_instructions>\n1. INITIAL VALIDATION: If \"Critical_Status\" is FALSE, respond only with \"SKIP\".\n2. REASONING (Chain of Thought): Before writing, internally analyze the gap between the current SLA and the target.\n3. TONE:\n   - If SLA < 1.0: Empathetic Urgency (focused on the \"final push\").\n   - If SLA >= 1.0: Aspirational Recognition.\n4. CONSTRAINTS:\n   - Maximum 3 lines.\n   - Use only high-impact emojis (🚀, ⚡, 🔥, ✨).\n   - Always include the shift name.\n</task_instructions>\n\n<response_format>\nWrite the \"Thought:\" analysis followed by the final \"Message:\". (If it is SKIP, just write SKIP).\n</response_format>"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxOutputTokens": 800,
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1488,
        -352
      ],
      "id": "cedfd0fa-da91-44d3-8f24-386dac07006a",
      "name": "AI: Generate Supervisor Feedback",
      "credentials": {
        "googlePalmApi": {
          "id": "Hl6YsfX0TyYKWB5Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#cht_channel",
          "mode": "name"
        },
        "text": "={{ $json.content.parts[0].text.split('Message:')[1].trim() }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2272,
        -288
      ],
      "id": "3c3e484e-a004-48c2-9110-1ad6316bd016",
      "name": "Slack: Post Team Alert",
      "webhookId": "3d202905-c17e-497d-b5ca-8113da150875",
      "credentials": {
        "slackApi": {
          "id": "s5ShiXXfeXys3okB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#vortex-ai-audit",
          "mode": "name"
        },
        "text": "=*🔍 VORTEX AI AUDIT LOG*\n---\n*Decision:* {{ $json.content.parts[0].text === 'SKIP' ? '⚪ IGNORED (Not critical hour)' : '✅ SENT TO GLOBAL' }}\n*Hour:* `{{ $node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.cutoff_time }}`\n*SLA Score:* `{{ $node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.sla_score }}`\n*Expected Goal:* `{{ (5.6 * { \"8 AM\": 1, \"9 AM\": 2, \"10 AM\": 3, \"11 AM\": 4, \"12 PM\": 5, \"1 PM\": 6, \"2 PM\": 7, \"3 PM\": 8, \"4 PM\": 9, \"5 PM\": 10, \"6 PM\": 11 }[$node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.cutoff_time]).toFixed(2) }}`\n---\n*AI Raw Output:*\n\"{{ $json.content.parts[0].text }}\"",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2272,
        -528
      ],
      "id": "71c3adb5-8eb8-415c-84b8-d14630096c73",
      "name": "Slack: Write Audit Log",
      "webhookId": "3d202905-c17e-497d-b5ca-8113da150875",
      "credentials": {
        "slackApi": {
          "id": "s5ShiXXfeXys3okB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#cht_channel",
          "mode": "name"
        },
        "text": "=📊 *OPERATIONAL PRODUCTIVITY REPORT*\n---\n{{ $node[\"JS: Process Operational Metrics\"].json.slack_message.table_content }}\n---\n📈 *Summary:*\n• *Team Average:* {{ $node[\"JS: Process Operational Metrics\"].json.slack_message.average_productivity }} tickets/agent\n🕒 *Data Cutoff:* {{ $node[\"JS: Process Operational Metrics\"].json.slack_message.cutoff_time }}\n\n_🤖 Luis Automated Monitoring System_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1168,
        0
      ],
      "id": "baa2fe94-f4d0-4c1d-8918-8341cdd1d129",
      "name": "Slack: Print Hourly Report",
      "webhookId": "c128fa2e-3709-422c-aa5d-081ff12b9ed5",
      "credentials": {
        "slackApi": {
          "id": "s5ShiXXfeXys3okB",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cfecdd3b-225e-4bf2-a3f6-9cb2db3785aa",
              "leftValue": "=  {{ $json.content.parts[0].text }}",
              "rightValue": "SKIP",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2000,
        -304
      ],
      "id": "15b2a434-c67d-4a39-ba34-a994b11bb982",
      "name": "Check: Clean Output & Skip Logic"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        -352
      ],
      "id": "1c52bef2-e26a-4360-bbc1-8b50f36980f0",
      "name": "Merge: Sync Operational & AI Context"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1HXD9HIvMCeLve_T6qSllhoB_WHSPqJCybuKHpjQb0QI",
          "mode": "list",
          "cachedResultName": "AI_Prompt_Performance_Registry_V1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HXD9HIvMCeLve_T6qSllhoB_WHSPqJCybuKHpjQb0QI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HXD9HIvMCeLve_T6qSllhoB_WHSPqJCybuKHpjQb0QI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('America/Tijuana').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Shift_Name": "={{ $node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.shift_name }}",
            "SLA_Score": "={{ $node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.sla_score }}",
            "Goal_Gap": "={{ (1.0 - $node[\"Merge: Sync Operational & AI Context\"].json.data_for_ai.sla_score).toFixed(2) }}",
            "AI_Thought": "={{ $json.content.parts[0].text.split('Message:')[0].replace('Thought:', '').trim() }}",
            "AI_Message": "={{ $json.content.parts[0].text.split('Message:')[1].trim() }}",
            "Prompt_Version": "1.1",
            "Status": "={{ $json.content.parts[0].text.includes('SKIP') ? 'SKIPPED' : 'SENT' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shift_Name",
              "displayName": "Shift_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SLA_Score",
              "displayName": "SLA_Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Goal_Gap",
              "displayName": "Goal_Gap",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Thought",
              "displayName": "AI_Thought",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI_Message",
              "displayName": "AI_Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt_Version",
              "displayName": "Prompt_Version",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Human_Validation",
              "displayName": "Human_Validation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2272,
        -720
      ],
      "id": "90e313ca-49a8-4bcb-bb8c-27ecc0953067",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "vnaApMHAhSjzz2tq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "JS: Process Operational Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS: Process Operational Metrics": {
      "main": [
        [
          {
            "node": "API: Update Master Spreadsheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check: Critical Hour Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Update Master Spreadsheet": {
      "main": [
        [
          {
            "node": "Slack: Print Hourly Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: Sync Operational & AI Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Critical Hour Validation": {
      "main": [
        [
          {
            "node": "Merge: Sync Operational & AI Context",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI: Generate Supervisor Feedback": {
      "main": [
        [
          {
            "node": "Check: Clean Output & Skip Logic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Write Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Print Hourly Report": {
      "main": [
        []
      ]
    },
    "Check: Clean Output & Skip Logic": {
      "main": [
        [
          {
            "node": "Slack: Post Team Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Sync Operational & AI Context": {
      "main": [
        [
          {
            "node": "AI: Generate Supervisor Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Write Audit Log": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a9280108-13ed-4eec-9ecf-d1efe71bced4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11915707a7b101a7347d374b72abeb1bed732cfb87a7f554c8ce298d1fc487b9"
  },
  "id": "au5LJkdoRdjHWbh7",
  "tags": []
}